<div class="effect-chip" data-index="{{index}}" {{#if effect.uuid}}data-uuid="{{effect.uuid}}"{{/if}}>
  <img src="{{effect.img}}" title="{{effect.name}}" />
  <span class="name">{{effect.name}}</span>
  
  {{#unless nointensity}}
    <div class="intensity-box">
      <span class="label">{{localize "TRESPASSER.Sheet.Common.IntensityShort"}}</span>
      {{#if editableIntensity}}
        <input type="number" class="effect-intensity-input" value="{{#if effect.intensity}}{{effect.intensity}}{{else}}0{{/if}}" />
      {{else}}
        <span class="value">{{#if effect.intensity}}{{effect.intensity}}{{else}}0{{/if}}</span>
      {{/if}}
    </div>
  {{/unless}}

  <div class="controls">
    {{#if editable}}
      <a class="effect-edit edit" title="{{localize 'TRESPASSER.Sheet.Common.Edit'}}"><i class="fas fa-edit"></i></a>
      <a class="{{deleteClass}} remove" title="{{localize 'TRESPASSER.Sheet.Common.Delete'}}"><i class="fas fa-times"></i></a>
    {{/if}}
  </div>
</div>
