<section class="tab log {{tab.cssClass}}" data-group="primary" data-tab="log">
  <div class="dungeon-log">

    <div class="dungeon-log-header">
      <h2>{{localize "TRESPASSER.Sheet.Tabs.Log"}}</h2>
      {{#if editable}}
      <a class="dungeon-btn" data-action="resetRegion" data-tooltip="{{localize 'TRESPASSER.Dialog.Reset.RegionTitle'}}">
        <i class="fas fa-trash"></i> {{localize "TRESPASSER.Dialog.Reset.RegionTitle"}}
      </a>
      {{/if}}
    </div>

    {{#if dayLog.length}}
    <div class="dungeon-log-entries">
      {{#each dayLog}}
      <div class="dungeon-log-entry">
        <span class="log-round">{{localize "TRESPASSER.Sheet.Region.CurrentDay"}} {{day}}</span>
        <span class="log-action">{{action}}</span>
        <span class="log-detail">{{detail}}</span>
      </div>
      {{/each}}
    </div>
    {{else}}
    <div class="dungeon-empty-notice">{{localize "TRESPASSER.Sheet.Region.NoLogEntries"}}</div>
    {{/if}}

  </div>
</section>
