<form class="{{cssClass}} trespasser-sheet item feature" autocomplete="off">
  <header class="sheet-header item-header-layout">
    <div class="header-column image-column">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>

    <div class="header-column details-column">
      <h1 class="item-title">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'TRESPASSER.Item.Name'}}"/>
      </h1>
    </div>
  </header>

  <section class="sheet-body scrollable">

    <div class="details-grid">
      <div class="field-row">
        <label>{{localize "TRESPASSER.Item.actionType"}}</label>
        <select name="system.type">
          {{selectOptions config.actionTypeChoices selected=system.type localize=true}}
        </select>
      </div>
      <div class="field-row description-column">
        <label>{{localize "TRESPASSER.Item.Description"}}</label>
        <div class="trp-editor-container">
          {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror" resizable=true}}
        </div>
      </div>
    </div>

    {{!-- Effects & Deeds Section --}}
    <div class="links-section">
      
      <div class="applied-effects-section">
        <h3 class="section-title">{{localize "TRESPASSER.Item.LinkedEffects"}}</h3>
        <p class="section-note">{{localize "TRESPASSER.Item.LinkedEffectsNote"}}</p>
        <div class="applied-effects-list drop-zone" data-type="effects">
          {{#each linkedEffects as |effect index|}}
            {{> "systems/trespasser/templates/item/parts/effect-chip.hbs" 
                effect=effect 
                index=index 
                editable=true 
                deleteClass="effect-remove" 
                editableIntensity=true
            }}
          {{else}}
            <p class="notes">{{localize "TRESPASSER.Sheet.Items.DropPlaceholder.Effects"}}</p>
          {{/each}}
        </div>
      </div>

      <div class="applied-effects-section">
        <h3 class="section-title">{{localize "TRESPASSER.Item.LinkedDeeds"}}</h3>
        <p class="section-note">{{localize "TRESPASSER.Item.LinkedDeedsNote"}}</p>
        <div class="applied-effects-list drop-zone" data-type="deeds">
          {{#each linkedDeeds as |deed index|}}
            <div class="effect-chip deed-chip" data-index="{{index}}" style="border-radius: 20px;">
              <img src="{{deed.img}}" style="border-radius: 50%;" />
              <span class="name">{{deed.name}}</span>
              <div class="controls">
                {{#if ../editable}}
                  <a class="deed-remove remove" title="{{localize 'TRESPASSER.Item.RemoveDeed'}}"><i class="fas fa-times"></i></a>
                {{/if}}
              </div>
            </div>
          {{else}}
            <p class="notes">{{localize "TRESPASSER.Sheet.Items.DropPlaceholder.Deeds"}}</p>
          {{/each}}
        </div>
      </div>

    </div>
  </section>
</form>
