<form class="{{cssClass}} trespasser-sheet item incantation" autocomplete="off">
  <header class="sheet-header item-header-layout">
    <div class="header-column image-column">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>
    <div class="header-column details-column">
      <h1 class="item-title">
        <input type="text" name="name" value="{{item.name}}" placeholder="{{localize 'TRESPASSER.ItemTypes.incantation'}}" />
      </h1>
    </div>
  </header>

  <section class="sheet-body scrollable">
    <div class="details-grid">
      <div class="field-row">
        <label>{{localize "TRESPASSER.Item.EnduranceCost"}}</label>
        <input type="number" name="system.enduranceCost" value="{{system.enduranceCost}}" min="0" />
      </div>

      <div class="field-row description-column">
        <label>{{localize "TRESPASSER.Item.Description"}}</label>
        <div class="trp-editor-container">
          {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror" resizable=true}}
        </div>
      </div>
    </div>
  </section>
</form>
